/*
Author: Zachary McHenry
Twitter: @basicbits
Email: zmchenry@gmail.com
*/

/* Global Classes */

html {
   width: 100%;
   height: 100%;
}

body {
   margin: 0;
}

h1 {
   font-family: 'Federo', sans-serif;
   margin: 0;
}

ol {
   clear: both;
   -moz-column-count: 4;
   -moz-column-gap: 0;
   -webkit-column-count: 4;
   -webkit-column-gap: 0;
   column-count: 4;
   column-gap: 0;
   position: relative;
   width: 90%;
   margin: 10px auto;
}

ol li {
   display: block;
   list-style: none;
   width: 100%;
   overflow: hidden;
   line-height: 0;
}

ol li img {
   max-width: 700px;
   overflow: hidden;
   display: block;

}

ol li:after {
   margin: 0;
   padding: 0;
}

.social-icons {
   height: 36px;
   opacity: .9;
   width: 175px;
}

.social-icon {
   background: no-repeat center;
   height: 50px;
   position: absolute;
   top: 0;
   margin: 0 auto;
   padding: 0 10px;
}

.facebook-icon {
   background-image: url("../img/social-icons/facebook_icon.png");
}

.github-icon {
   background-image: url("../img/social-icons/github_icon.png");
}

.linkedin-icon {
   background-image: url("../img/social-icons/linkedin_icon.svg");
}

.gmail-icon {
   background-image: url("../img/social-icons/gmail_icon.svg");
}

.twitter-icon {
   background-image: url("../img/social-icons/twitter_icon.png");
   left: 0;
}

/* End Global Styles */

/* Picture and social slider */
.parallax {
   height: 900px;
   width: 100%;
   position: relative;
}

.background {
   height: 85%;
   width: 100%;
   text-align: center;
   position: fixed;
   z-index: -1;
   padding: 20px 0;
   background: slategray;
}

.background h1 {
   font-size: 3em;
   margin: 50px 0;
}

.profile {
   height: 250px;
   width: 200px;
   border-radius: 10px;
}

.background .social-icons {
   width: 75%;
   position: absolute;
   bottom: 150px;
   left: 35%;
}

.background .social-icon {
   background-size: 15%;
   width: 20%;
}

.background .github-icon {
   left: 5%
}

.background .linkedin-icon {
   left: 10%;
}

.background .gmail-icon {
   left: 15%;
}

.background .facebook-icon {
   left: 20%;
}

.cover {
   height: 75%;
   position: relative;
}
/* Picture and social slider END */

/* Introductory Bar */
.intro-bar {
   background: crimson;
   height: 300px;
   width: 100%;
   position: relative;
   bottom: 60px;
}
/* Introductory Bar END*/

/* Fixed Title Bar */

.container {
   background: url("../img/background.png");
   height: 100%;
   overflow: auto;
   position: relative;
}

.title-bar {
   background: #444;
   color: #FFF;
   width: 100%;
   height: 55px;
   line-height: 55px;
}

.reduced-header h1 {
   margin: 0;
   width: 45%;
   padding-left: 6%;
   display: inline-block;
}

.reduced-header .social-icons {
   position: absolute;
   right: 0;
   margin: 0 5%;
}

.reduced-icon {
   background-size: 30%;
   width: 35%;
}

.reduced-header .facebook-icon {
   left: 136px;
}

.reduced-header .github-icon {
   left: 34px;
}

.reduced-header .linkedin-icon {
   left: 68px;
}

.reduced-header .gmail-icon {
   left: 102px;
}



/* Fixed Title Bar END */

/* Masonry Layout */

.reposition {
   position: relative;
   left: -75px;
   max-width: 500px;
}

.masonry-container {
   position: relative;
}


/* Masonry Layout END*/



/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
   ol {
      -moz-column-count: 3;
      -moz-column-gap: 0;
      -webkit-column-count: 3;
      -webkit-column-gap: 0;
      column-count: 3;
      column-gap: 0;
   }
}

@media screen and (max-width: 768px) {
   ol {
      -moz-column-count: 2;
      -moz-column-gap: 0;
      -webkit-column-count: 2;
      -webkit-column-gap: 0;
      column-count: 2;
      column-gap: 0;
      width: 80%;
   }
}

@media screen and (max-width: 600px) {
   ol {
      -moz-column-count: 1;
      -moz-column-gap: 0;
      -webkit-column-count: 1;
      -webkit-column-gap: 0;
      column-count: 1;
      column-gap: 0;
   }
}

