/*
Author: Zachary McHenry
Twitter: @basicbits
Email: zmchenry@gmail.com
*/

/* Global Classes */

html {
   width: 100%;
   height: 100%;
}

body {
   margin: 0;
}

h1 {
   font-family: 'Federo', sans-serif;
   margin: 0;
}

ol {
   clear: both;
   -moz-column-count: 4;
   -moz-column-gap: 0;
   -webkit-column-count: 4;
   -webkit-column-gap: 0;
   column-count: 4;
   column-gap: 0;
   position: relative;
   width: 90%;
   z-index: 9;
   margin: 10px auto;
}

ol li {
   display: block;
   list-style: none;
   width: 100%;
   overflow: hidden;
   line-height: 0;
}

ol li:after {
   margin: 0;
   padding: 0;
}

/*End Global Styles */

/* Fixed Title Bar */

.container {
   background: lightblue;
   height: 100%;
}

.title-bar {
   background: url('../img/expanded-background.png');
   color: white;
   width: 100%;
   height: 55px;
   line-height: 55px;
}

#title {
   margin: 0;
   width: 45%;
   padding-left: 5%;
   display: inline-block;
}

.social-icons {
   height: 36px;
   opacity: .9;
   position: absolute;
   right: 0;
   width: 175px;
   margin: 0 5%;
}

.social-icon {
   background: no-repeat center;
   height: 50px;
}

.reduced-icon {
   position: absolute;
   top: 0;
   margin: 0 auto;
   padding: 0 10px;
   background-size: 30%;
   width: 35%;
}

.social-icons #twitter-icon {
   background-image: url("../img/social-icons/twitter_icon.png");
   left: 0;
}

.social-icons #facebook-icon {
   background-image: url("../img/social-icons/facebook_icon.png");
   left: 136px;
}

.social-icons #github-icon {
   background-image: url("../img/social-icons/github_icon.png");
   left: 34px;
}

.social-icons #linkedin-icon {
   background-image: url("../img/social-icons/linkedin_icon.svg");
   left: 68px;
}

.social-icons #gmail-icon {
   background-image: url("../img/social-icons/gmail_icon.svg");
   left: 102px;
}

/* Fixed Title Bar END */

/* Masonry Layout */
.mason-img {
   background: transparent;
   font-size: 100%;
   margin: 0;
   padding: 0;
   vertical-align: baseline;
}

/* Masonry Layout END*/



/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
   ol {
      -moz-column-count: 3;
      -moz-column-gap: 0;
      -webkit-column-count: 3;
      -webkit-column-gap: 0;
      column-count: 3;
      column-gap: 0;
   }
}

@media screen and (max-width: 768px) {
   ol {
      -moz-column-count: 2;
      -moz-column-gap: 0;
      -webkit-column-count: 2;
      -webkit-column-gap: 0;
      column-count: 2;
      column-gap: 0;
      width: 80%;
   }
}

@media screen and (max-width: 600px) {
   ol {
      -moz-column-count: 1;
      -moz-column-gap: 0;
      -webkit-column-count: 1;
      -webkit-column-gap: 0;
      column-count: 1;
      column-gap: 0;
   }
}

